@font-face {
  font-family: Madimi One;
  src: url(./fonts/MadimiOne-Regular.ttf)
}
@font-face {
  font-family: RobotoMono-Regular;
  src: url(./fonts/RobotoMono-Regular.ttf)
}
@font-face {
  font-family: RobotoMono-Italic;
  src: url(./fonts/RobotoMono-Italic.ttf)
}
@font-face {
  font-family: RobotoMono-Bold;
  src: url(./fonts/RobotoMono-Bold.ttf)
}


body {
  margin: 0;
  font-family: RobotoMono-Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(190, 223, 255);
  overflow: hidden;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.nav li {
  display: inline;
  float: left;
  padding: 15px;
}

.nav .homeButton {
  font-style: bold;
  font-family: Madimi One;
  font-size: 1.5em;
}

.nav li a {
  color: black;
  text-decoration: none;
  font-size: 1em;
}

.nav li a:hover {
  color: white;
}
